{%for table in schema.tables%}
{%if table.historyPath%}
import { h{{table.modelName}} } from '{{table.historyPath}}';
{% endif %}
{% endfor %}
import {createConnection, ConnectionOptions} from 'typeorm';


export async function create{{data.name}}Triggers{{schema.namespace.toLowerCase()}}() {
    const pgp = require('pg-promise')({});
    await pgp.end();
    const connectionString = 'postgres://' + process.env.{{data.dbusername}} + ':' +
    process.env.{{data.dbpassword}} + '@' + process.env.{{data.dbhost}} + ':' + process.env.{{data.dbport}} + '/' + process.env.{{data.dbdatabase}};
    const db = pgp(connectionString);
    let queryproc;
    let lowerStringName;
    let lowerStringSchema;
{%for table in schema.tables%}
{% if table.historyPath %}
    lowerStringName = '{{table.name}}'.toLowerCase();
    lowerStringSchema = '{{schema.namespace}}'.toLowerCase();
    queryproc = 'create trigger add_to_' + lowerStringSchema + '_h_' + lowerStringName + ' after insert or delete or update on "' +
    lowerStringSchema + '"."' + lowerStringName +
    '" for each row execute procedure ' + lowerStringSchema +
    '.add_to_history_' + lowerStringSchema + '_' + lowerStringName + '();';
    await db.none(queryproc);
{%endif%}
{%endfor%}
    pgp.end();
}
